<!-- Header -->
<header class="header fadeout pt-90 pb-0" id="section-home">
  <div class="container">
    <div class="row h-full justify-content-center align-items-center text-center text-lg-left">

      <!-- img-outside-right hidden-md-down -->
      <div class="col-12 col-md-6">
        <div id="desk"></div>
      </div>

      <div class="col-12 col-md-6 col-form-desk">
        <div class="row px-10 align-items-center">
          <div class="col-12 text-center text-md-left">
            <h3 class="px-10 fw-400 hidden-md-down">The world's first blockchain-powered marketplace of services.</h3>
            <h4 class="px-10 py-10 fw-400 hidden-lg-up">The world's first blockchain-powered marketplace of services.</h4>
          </div>
          <br>

          <div class="col-12 mx-10 text-center text-md-left">

            <button class="btn btn-lg text-white" 
              style="background-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%); border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: none;">
              JOIN PRE-ALPHA
            </button>
            <br class="hidden-md-down">
            <br class="hidden-md-down">
            <br class="hidden-md-down">
            <br class="hidden-md-down">
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!-- END Header -->