
    <section class="section bg-white my-30 py-0" id="typography">
     <div class="container">
       <h2>CanYa Typography</h2>
      <hr>
      <h1 class="fw-400">Montserrat</h1>
      <p>Get it on <a href="https://fonts.google.com/specimen/Montserrat" target="_blank">Google Fonts</a><br>for the best user experience, always embed the font inside your project using google's CDN.</p>      
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
              <p>Weights:</p>
          </div>
          <div class="col-md-9">
              <h2 class="fw-600">Bold | 600</h2>
              <br>
              <h2 class="fw-500">SemiBold|500</h2>
              <br>
              <h2 class="fw-400">Medium|400</h2>
              <br>
              <h2 class="fw-300">Regular|300</h2>
            </div>    
        </div>
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
              <p>Type Styles:</p>
          </div>
          <div class="col-md-9">
              <!-- Display -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Display Sizes</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:4.75rem">Giga | 76</p>
                      </td>
                      <td>  <p>Giga<br>
                            font-size: 76px (4.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:3.375rem">Mega | 54</p>
                      </td>
                      <td>  <p>Mega<br>
                            font-size: 54px (3.375rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
              <!-- Normal Size  -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Normal Sizes</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:2.25rem">Alpha | 36</p>
                      </td>
                      <td>  <p>Giga<br>
                            font-size: 36px (2.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.75rem">Beta | 28</p>
                      </td>
                      <td>  
                            <p>Mega<br>
                            font-size: 28px (1.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.25rem">Gamma | 20</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 20 (1.25rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.125rem">Delta | 18</p>
                      </td>
                      <td>  
                            <p>Delta<br>
                            font-size: 18 (1.125rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.875rem">Zeta | 14</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 14 (0.875rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.75rem">Omega | 12</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 12 (0.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
              <!-- Other Styles -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Other Styles</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.75rem">Caption | 12</p>
                      </td>
                      <td>  <p>Caption<br>
                            font-size: 12px (0.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.6875rem">Legal | 11</p>
                      </td>
                      <td>  <p>Legal<br>
                            font-size: 11px (0.6875rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300">p | 16</p>
                      </td>
                      <td>  <p>Legal<br>
                            font-size: 16px (1rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
            </div>    
        </div>
        <hr>
        <div class="row text-left">
            <div class="col-md-3">
                <p>Color Contrast</p>
            </div>
            <div class="col-md-9">
                <p>All type color combinations on Carbon must pass WCAG AA standards of 4.5 : 1. In the table below are approved color combinations.</p> 
                <div class="row">
                    <div class="col-md-2"><button class="btn btn-round fw-400" style="width:30px; height: 30px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff">a</button>
                    </div>
                    <div class="col-md-2"><p>Normal Text</p></div>
                    <div class="col-md-2">
                <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff;font-size:18px">A</button></div>
                    <div class="col-md-6"><p>Large Text: 18px bold or 24px light and larger</p></div>
                </div>
                
                <table class="table">
                    <thead>
                        <th>Type Colors</th>
                        <th>Background colors</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="container"> 
                                <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #33ccff"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>CanYa Blue<br>#33CCFF</p> 
                                </div>
                            </div>
                                    
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #B7BBBD"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-03<br>#B7BBBD</p> 
                                </div>
                            </div>
                                
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #9B9B9B"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-02<br>#9B9B9B</p> 
                                </div>
                            </div>
                                
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #535353"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-01<br>#535353</p> 
                                </div>
                            </div>
                                </div>
                            </td>
                            <td>
                                
                                <div class="container">
                                    <div class="row">
                                    
                                        <div class="col-md-4">
                                            <div style="border: 1px solid #919d9d; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            
                                                <div class="row" style="margin-top:50px">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-01<br>#FFFFFF</p>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div style="background-color:#F8F9FA; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:transparent; border-color:transparent;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            
                                                <div class="row" style="margin-top:50px">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color:transparent;">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-02<br>#F8F9FA</p>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div style="background-color:#F0F3F6; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:transparent; border-color:transparent;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div> 
                                                <div class="row" style="margin-top:50px"> 
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color:transparent;">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-03<br>#F0F3F6</p>
                                        </div> 
                                     </div>                                
                                </div>
                            </td>    
                        </tr>
        
                    </tbody>
                
                </table>
            </div>
        
        </div>
     </div> 
    </section>