<!-- Main container -->   
<main class="main-content"> 
    <section class="section bg-white my-30 py-0"  id="assets"> 
        <div class="container" >
            <div class="row"> 
                <div class="col-md-12">
                    <h2>Assets</h2>
                    <p>In this page you can download high-resolution logos, illustrations, and other visual assets you might need in your CanApp.</p> 
                <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <h3>Logos</h3>
                        <div class="row text-center py-15"> 
                                <div class="col-md-4">  
                        <p>The CanYa logo (original)</p>
                        <img style="max-width: 15rem; padding:10px" src="assets/img/canya.svg"> 
                            <br>
                            <br>
                        <span>
                        <a href="assets/img/canya.svg" download>Download SVG</a> | <a href="assets/img/canya.png" download>Download PNG</a>
                        </span>
                            </div> 
                                <div class="col-md-4">  
                        <p>The CanYa logo (white)</p>
                        <img style="max-width: 15rem; padding:10px; background-color:#33ccff" src="assets/img/canya-white.svg"> 
                            <br>
                            <br>
                        <span>
                        <a href="assets/img/canya-white.svg" download>Download SVG</a> | <a href="assets/img/canya-white.png" download>Download PNG</a>
                        </span>
                    </div> 
                        </div>
                        <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <h3>Icons</h3>
                        <div class="row  text-center py-15"> 
                                <div class="col-md-4">  
                        <p>Circle Icon</p>
                        <img style="max-width: 10rem; padding:10px" src="assets/img/canya-circle.svg"> 
                            <br>
                            <br>
                        <span>
                        <a href="assets/img/canya-circle.svg" download>Download SVG</a> | <a href="assets/img/canya-circle.png" download>Download PNG</a>
                        </span>
                            </div> 
                                <div class="col-md-4">  
                        <p>The CanYa logo (white)</p>
                        <img style="max-width: 10rem; padding:10px;" src="assets/img/canya-tile.svg"> 
                            <br>
                            <br>
                        <span>
                        <a href="assets/img/canya-tile.svg" download>Download SVG</a> | <a href="assets/img/canya-tile.png" download>Download PNG</a>
                        </span>
                    </div> 
                        </div>
                        <hr>
                </div>
            </div> 
            <div class="row"> 
                <div class="col-md-12">
                    <h3>Illustrations</h3> 
                    <br>
                    <h4>CanApps</h4>
                        <div class="row  text-center"> 
                            <ng-template ngFor let-i="index" let-illustration [ngForOf]="illustrations">
                                <div *ngIf="(i === 0 || i === 1 || i % 4 !== 0)" style="width:300px" class="card py-15 px-15 text-center">
                                  <div class="card-body">
                                    <p>{{illustration}}</p>
                                    <img class="card-img-top" style="width:auto; height: 150px; padding:10px;" src="https://canya.io/images/CanApps/illustrations/{{illustration}}.svg" alt="CanYa25">
                                    <br><br>
                                    <a href="https://canya.io/images/CanApps/illustrations/{{illustration}}.svg" download>Download SVG</a>
                                  </div>
                                </div>
                            </ng-template>      
                        
                        </div>
                        <hr>
                </div> 
            </div>
        </div>
    </section>  
</main>
<!-- END Main container -->