
    <section class="section bg-white my-30 py-0" id="buttons">
        <div class="container">
            <h2>Buttons</h2>
            <hr>
        <h3>Primary buttons</h3>
            <p>Primary buttons that gives positive connotations. </p>
               <div class="row">
                   <div class="col-md-12"> 
                            <button class="btn btn-primary my-1">Btn</button>
                            <button class="btn btn-primary  btn-w-sm my-1">w-sm</button>
                            <button class="btn  btn-primary  btn-w-md my-1">w-md</button>
                            <button class="btn btn-primary  btn-w-lg my-1">w-lg</button>
                            <button class="btn btn-primary  btn-w-xl my-1">w-xl</button>
                   </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>Function Buttons</h3>
                <p>Buttons with specific purposes</p> 
                            <button class="btn btn-primary  btn-success">Success!</button>
                            <button class="btn btn-primary  btn-info">Info</button>
                            <button class="btn btn-primary  btn-warning">Warning</button>
                            <button class="btn  btn-primary  btn-danger">Danger</button>  
            </div>     
        </div> 
        <hr>  
        <div class="row">
                <div class="col-md-12">
                <h3>Outline Buttons</h3>
                <p>add the class btn-outline to any button to turn the button into outlines!</p> 
                <button class="btn  btn-primary btn-outline">Primary</button>
                <button class="btn  btn-success btn-outline">Success</button>  
                <button class="btn  btn-info btn-outline">Info</button>       
                <button class="btn  btn-warning btn-outline">Warning</button>    
                <button class="btn   btn-danger btn-outline">Danger</button>   
                </div> 
            </div>
        <hr>
        <div class="row">
                <div class="col-md-12"> 
                    <h3>Secondary buttons</h3>
                    <p>Secondary buttons are basically grey-colored buttons.</p>
                    <button class="btn btn-secondary my-1">Test</button>
                    <button class="btn btn-secondary btn-w-sm  my-1">w-sm</button>
                    <button class="btn btn-secondary btn-w-md  my-1">w-md</button>
                    <button class="btn btn-secondary btn-w-lg  my-1">Test</button>
                    <button class="btn btn-secondary btn-w-xl  my-1">Test</button> 
                </div> 
        </div>
            <hr>
            <div class="row">
                <div class="col-md-12"> 
                    <h3>Special / Custom buttons</h3>
                    <p>These buttons are buttons with special/custom shapes and color. you can create your own custom buttons with inline-css if you wish. Do note that you must always follow the color pallete.</p>
                    <button class="btn btn-primary" style="border-radius: 64px">Pill Buttons...</button>
                    <button class="btn btn-danger" style="border-radius: 64px">...Have 64px radius</button>
                    <button class="btn btn-lg text-white" style="background-image: linear-gradient(122deg, #33ccff, #4decca);border-radius: 64px">Gradient Buttons...</button>
                    <button class="btn btn-lg text-white" style="background-image: linear-gradient(122deg, #FF6666, #FFC600)">...can be rectangular.</button>
                    <button class="btn btn-primary btn-canya-gradient btn-primary my-1">Chat Button</button>
                </div> 
        </div>
        </div>
    </section>