<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">
    
    <div class="topbar-left">
      <a class="topbar-brand" [routerLink]="['/home']">
        <!-- <img class="logo-inverse" src="assets/img/logo.svg" width="136px" alt="logo"> -->
        <img class="logo-default" src="assets/img/CanStyle.svg"  width="auto" height="36px" alt="logo">
      </a>
    </div> 
    <div class="topbar-right" id="top-nav">
      <ul class="topbar-nav nav mr-3"> 
        <li class="nav-item"><a id="typo-link" href="typography">Typography</a></li>
        <li class="nav-item"><a id="colours-link" href="colours">Colours</a></li>
        <li class="nav-item"><a id="buttons-link"  href="buttons">Buttons</a></li>  
        <li class="nav-item"><a id="cards-link" href="cards">Cards</a></li> 
        <li class="nav-item"><a id="widgets-link"  href="widgets">Widgets</a></li>
        <li class="nav-item"><a id="assets-link"  href="assets">Assets</a></li>
        <li class="nav-item mobile-only">
                <a href="https://github.com/canyaio/CanYa-Styleguide" target="_blank">
                            <button _ngcontent-c1="" class="btn btn- btn-primary btn-outline btn-sm" id="github-btn" type="submit">Get the code</button>   
                </a>
        </li>
          <li class="nav-item mobile-only">
                
                <a href="https://canya.io" target="_blank">
                            <button class="btn btn-primary btn-sm" id="io-btn">Go To CanYa.io</button>    
                </a>
        </li>
      </ul>  
        <a class="top-btn"  href="https://github.com/canyaio/CanYa-Styleguide" target="_blank">
                            <button _ngcontent-c1="" class="btn btn-primary btn-outline btn-sm " id="github-btn" type="submit">Get the code</button>   
        </a>
        <a class="top-btn" href="https://canya.io" target="_blank">
                            <button class="btn btn-primary btn-sm  btn-top" id="io-btn">Go To CanYa.io</button>    
        </a>
      <button class="topbar-toggler text-gray">&#9776;</button>
    </div> 
  </div>
</nav>
<!-- END Topbar -->