/* You can add global styles to this file, and also import other style files */
#sideNav li{
    padding-right: 25px;
}
#sideNav li a{
    color: #9b9b9b;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
}
#sideNav li a:hover{
    color: #33ccff;  
}

<<<<<<< HEAD
<<<<<<< HEAD

=======
.topbar-nav li a{
    color: #9b9b9b;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
}
.topbar-nav li a:hover{
    color: #33ccff !important; 
}
>>>>>>> parent of cc27090... Revamped header-footer, updated colors
#introduction { 
}
=======
.topbar-nav li a{
    color: #9b9b9b !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
}
.topbar-nav li a:hover{
    color: #33ccff !important; 
}

#introduction{ 
    height: 75vh;
} 
>>>>>>> parent of d1e5e1c... updated hoek,minor css updates
#introduction p{ 
    font-size:14px;
    font-weight: 500;
} 
#introduction img{
<<<<<<< HEAD
<<<<<<< HEAD
    max-width: 50rem;  
=======
    max-width: 140%;  
>>>>>>> parent of cc27090... Revamped header-footer, updated colors
}

@media (min-height: 1800px) {
    #introduction img{
        max-width: 175%;  
    }
}
@media (max-height: 720px) {
    #introduction img{
        max-width: 100%;  
    }
<<<<<<< HEAD
} 


.color-card{
    width:150px;
}
.color-card .card-body{
    flex:none;
    font-size: 12px;
    text-align: center;
    padding: 0;
} 
.color-card .card-img-top{
    height:75px;
} 

=======
    max-width: 150%;
    padding-right: 25px;
}
>>>>>>> parent of d1e5e1c... updated hoek,minor css updates
=======
}
>>>>>>> parent of cc27090... Revamped header-footer, updated colors
