/* You can add global styles to this file, and also import other style files */
#sideNav li{
    padding-right: 25px;
}
#sideNav li a{
    color: #9b9b9b;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
}
#sideNav li a:hover{
    color: #33ccff;  
}

.topbar-nav li a{
    color: #9b9b9b !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
}
.topbar-nav li a:hover{
    color: #33ccff !important; 
}

#introduction{ 
    height: 75vh;
} 
#introduction p{ 
    font-size:14px;
    font-weight: 500;
} 
#introduction img{
    max-width: 150%;
    padding-right: 25px;
}