<div style="height: 80px; background-color:white"></div>
<!-- Main container -->   
<main class="main-content"> 
    <section class="section bg-white my-30 py-0"  id="introduction"> 
                <div class="container" >
    <div class="row"> 
        
    <div class="col-md-4"> 
            <h4 style="padding-top: 100px; color:#33ccff">INTRODUCTION</h4>
            <p>CanStyle is a guide which acts as a bridge between designers and developers looking toward a common goal of consistent styling within the CanYa ecosystem. Inspired by Google’s Material design initiative, CanYa seeks to uphold a level of design consistency and excellency across all the CanApps.
            <br><br>Note that this styleguide is tailor-made for Angular-based apps. Styleguides for other frameworks will be coming soon.  </p>
    </div>
        <div class="col-md-8"> 
            <img src="https://canya.io/images/canya_mockups.png">
            </div> 
        </div>
    </div>
        </section>  
    <section class="section bg-white my-30 py-0" id="typography">
     <div class="container">
       <h2>CanYa Typography</h2>
      <hr>
      <h1 class="fw-400">Montserrat</h1>
      <p>Get it on <a href="https://fonts.google.com/specimen/Montserrat" target="_blank">Google Fonts</a><br>for the best user experience, always embed the font inside your project using google's CDN.</p>      
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
              <p>Weights:</p>
          </div>
          <div class="col-md-9">
              <h2 class="fw-600">Bold | 600</h2>
              <br>
              <h2 class="fw-500">SemiBold|500</h2>
              <br>
              <h2 class="fw-400">Medium|400</h2>
              <br>
              <h2 class="fw-300">Regular|300</h2>
            </div>    
        </div>
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
              <p>Type Styles:</p>
          </div>
          <div class="col-md-9">
              <!-- Display -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Display Sizes</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:4.75rem">Giga | 76</p>
                      </td>
                      <td>  <p>Giga<br>
                            font-size: 76px (4.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:3.375rem">Mega | 54</p>
                      </td>
                      <td>  <p>Mega<br>
                            font-size: 54px (3.375rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
              <!-- Normal Size  -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Normal Sizes</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:2.25rem">Alpha | 36</p>
                      </td>
                      <td>  <p>Giga<br>
                            font-size: 36px (2.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.75rem">Beta | 28</p>
                      </td>
                      <td>  
                            <p>Mega<br>
                            font-size: 28px (1.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.25rem">Gamma | 20</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 20 (1.25rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:1.125rem">Delta | 18</p>
                      </td>
                      <td>  
                            <p>Delta<br>
                            font-size: 18 (1.125rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.875rem">Zeta | 14</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 14 (0.875rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.75rem">Omega | 12</p>
                      </td>
                      <td>  
                            <p>Gamma<br>
                            font-size: 12 (0.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
              <!-- Other Styles -->
              <table class="table"> 
                  <thead>
                    <th class="fw-300">Other Styles</th>
                    <th class="fw-300">Spec</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.75rem">Caption | 12</p>
                      </td>
                      <td>  <p>Caption<br>
                            font-size: 12px (0.75rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300" style="font-size:0.6875rem">Legal | 11</p>
                      </td>
                      <td>  <p>Legal<br>
                            font-size: 11px (0.6875rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p class="fw-300">p | 16</p>
                      </td>
                      <td>  <p>Legal<br>
                            font-size: 16px (1rem)<br>
                            font-weight: regular (300) <br>
                            line-height: 95px (1.25)
                      </td>
                  </tr>
                  </tbody>
              </table>
            </div>    
        </div>
        <hr>
        <div class="row text-left">
            <div class="col-md-3">
                <p>Color Contrast</p>
            </div>
            <div class="col-md-9">
                <p>All type color combinations on Carbon must pass WCAG AA standards of 4.5 : 1. In the table below are approved color combinations.</p> 
                <div class="row">
                    <div class="col-md-2"><button class="btn btn-round fw-400" style="width:30px; height: 30px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff">a</button>
                    </div>
                    <div class="col-md-2"><p>Normal Text</p></div>
                    <div class="col-md-2">
                <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff;font-size:18px">A</button></div>
                    <div class="col-md-6"><p>Large Text: 18px bold or 24px light and larger</p></div>
                </div>
                
                <table class="table">
                    <thead>
                        <th>Type Colors</th>
                        <th>Background colors</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="container"> 
                                <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #33ccff"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>CanYa Blue<br>#33CCFF</p> 
                                </div>
                            </div>
                                    
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #B7BBBD"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-03<br>#B7BBBD</p> 
                                </div>
                            </div>
                                
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #9B9B9B"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-02<br>#9B9B9B</p> 
                                </div>
                            </div>
                                
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4">
                                    <div style="width:25px; height: 25px; margin:5px auto; background-color: #535353"></div>
                                </div>
                                <div class="col-md-8">
                                    <p>text-01<br>#535353</p> 
                                </div>
                            </div>
                                </div>
                            </td>
                            <td>
                                
                                <div class="container">
                                    <div class="row">
                                    
                                        <div class="col-md-4">
                                            <div style="border: 1px solid #919d9d; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#33ccff; border-color:#33ccff;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            
                                                <div class="row" style="margin-top:50px">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-01<br>#FFFFFF</p>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div style="background-color:#F8F9FA; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:transparent; border-color:transparent;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            
                                                <div class="row" style="margin-top:50px">
                                                    
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color:transparent;">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-02<br>#F8F9FA</p>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div style="background-color:#F0F3F6; padding:10px 15px 10px 10px">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:transparent; border-color:transparent;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div> 
                                                <div class="row" style="margin-top:50px"> 
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;text-size:16px;background-color:transparent;">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#B7BBBD; border-color:#B7BBBD;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                             
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:16px;background-color: transparent">a</button></div>
                                                    
                                                    <div class="col-md-4">
                                                        
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#9B9B9B; border-color:#9B9B9B;font-size:18px;background-color: transparent">A</button></div>
                                                    
                                                    <div class="col-md-2"></div>
                                                </div>
                                                <div class="row" style="margin-top:50px">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-round fw-400" style="width:35px; height: 35px; padding:0;letter-spacing: 0px;text-transform:none; color:#535353; border-color:#535353;font-size:18px;background-color: transparent">A</button></div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <p>ui-03<br>#F0F3F6</p>
                                        </div>
                                        
                                        
                                     </div>
                                
                                </div>
                            
                            </td>    
                        </tr>
                    
                    </tbody>
                
                </table>
            </div>
        
        </div>
     </div> 
    </section>
    <section class="section bg-white my-30 py-0" id="colors">
        <div class="container">
            <h2>CanYa Colour</h2>
            <div class="row">
                <div class="col-md-3">
                    <h3 class="fw-400">Elemental Colours</h3>
                </div>
                <div class="col-md-9">
                 <div class="row">
                    <div class="card color-card px-15 py-15" *ngFor="let color of elementColors">
                        <div class="card-img-top" style="height:150pxs" [style.backgroundColor]="color.code" ><br><br><br></div>
                        <div class="card-body">
                            <p style="margin:5px">
                                {{ color.name }}<br>{{ color.code }}</p>
                        </div>
                    </div>
            
            </div> 
                </div>
            </div>    
            <hr>
           
            <div class="row">
                <div class="col-md-3"> 
                        <h3 class="fw-400">Supplementary Colours</h3> 
                </div>
                <div class="col-md-9">  
                        <div class="row">
                    <div class="card color-card px-15 py-15" *ngFor="let color of supplementColors">
                        <div class="card-img-top" [style.backgroundColor]="color.code" ><br><br><br></div>
                        <div class="card-body">
                            <p style="margin:5px">
                                {{ color.name }}<br>{{ color.code }}</p>
                        </div>
                    </div> 
            </div>  
                </div> 
            </div>
            <hr>  
            <div class="row">
                <div class="col-md-3"> 
                        <h3 class="fw-400">Gradients</h3>  
                </div> 
                <div class="col-md-9"> 
                <div class="row">
                    <div class="container"> 
                                <div class="row  px-15 py-15 text-center" [ngStyle]="{'background': 'linear-gradient(92deg, #33ccff,  #4decca)','color':'white'}" >
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">#33CCFF - #4DECCA<br>CanYa Blue - CanYa Green</div>
                                        <div class="col-md-4"></div>
                            </div>
                </div> 
            </div>
            <br>
            <div class="row">
                <div class="container"> 
                        <div class="row px-15 py-15 text-center" [ngStyle]="{'background': 'linear-gradient(to right, #33ccff,  #0078BF)','color':'white'}" >
                            <div class="col-md-4"></div>
                            <div class="col-md-4">#33CCFF - #0078BF<br>CanYa Blue - Cerulean</div>
                            <div class="col-md-4"></div>
                        </div>
                </div> 
            </div> 
            <br>
            <div class="row">
                <div class="container"> 
                        <div class="row px-15 py-15  text-center" [ngStyle]="{'background': 'linear-gradient(to right, #FF6666,  #FFC600)','color':'white'}" >
                            <div class="col-md-4"></div>
                            <div class="col-md-4">#FF6666 - #FFC600<br>CanYa Red - Marigold</div>
                            <div class="col-md-4"></div>
                        </div>
                </div> 
            </div>
            <br>
            <div class="row">
                <div class="container"> 
                        <div class="row px-15 py-15 text-center" [ngStyle]="{'background': 'linear-gradient(to right, #FF6666,  #F9A4D8)','color':'white'}" >
                            <div class="col-md-4"></div>
                            <div class="col-md-4">#FF6666 - #F9A4D8<br>CanYa Red - CanYa Pink</div>
                            <div class="col-md-4"></div>
                        </div>
                </div> 
            </div>
                </div>  
            </div>  
        </div>
    </section>
    <section class="section bg-white my-30 py-0" id="buttons">
        <div class="container">
            <h2>Buttons</h2>
            <hr>
        <h3>Primary buttons</h3>
            <p>Primary buttons that gives positive connotations. </p>
               <div class="row">
                   <div class="col-md-12"> 
                            <button class="btn btn-primary my-1">Btn</button>
                            <button class="btn btn-primary  btn-w-sm my-1">w-sm</button>
                            <button class="btn  btn-primary  btn-w-md my-1">w-md</button>
                            <button class="btn btn-primary  btn-w-lg my-1">w-lg</button>
                            <button class="btn btn-primary  btn-w-xl my-1">w-xl</button>
                   </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>Function Buttons</h3>
                <p>Buttons with specific purposes</p> 
                            <button class="btn btn-primary  btn-success">Success!</button>
                            <button class="btn btn-primary  btn-info">Info</button>
                            <button class="btn btn-primary  btn-warning">Warning</button>
                            <button class="btn  btn-primary  btn-danger">Danger</button>  
            </div>     
        </div> 
        <hr>  
        <div class="row">
                <div class="col-md-12">
                <h3>Outline Buttons</h3>
                <p>add the class btn-outline to any button to turn the button into outlines!</p> 
                <button class="btn  btn-primary btn-outline">Primary</button>
                <button class="btn  btn-success btn-outline">Success</button>  
                <button class="btn  btn-info btn-outline">Info</button>       
                <button class="btn  btn-warning btn-outline">Warning</button>    
                <button class="btn   btn-danger btn-outline">Danger</button>   
                </div> 
            </div>
        <hr>
        <div class="row">
                <div class="col-md-12"> 
                    <h3>Secondary buttons</h3>
                    <p>Secondary buttons are basically grey-colored buttons.</p>
                    <button class="btn btn-secondary my-1">Test</button>
                    <button class="btn btn-secondary btn-w-sm  my-1">w-sm</button>
                    <button class="btn btn-secondary btn-w-md  my-1">w-md</button>
                    <button class="btn btn-secondary btn-w-lg  my-1">Test</button>
                    <button class="btn btn-secondary btn-w-xl  my-1">Test</button> 
                </div> 
        </div>
            <hr>
            <div class="row">
                <div class="col-md-12"> 
                    <h3>Special / Custom buttons</h3>
                    <p>These buttons are buttons with special/custom shapes and color. you can create your own custom buttons with inline-css if you wish. Do note that you must always follow the color pallete.</p>
                    <button class="btn btn-primary" style="border-radius: 64px">Pill Buttons...</button>
                    <button class="btn btn-danger" style="border-radius: 64px">...Have 64px radius</button>
                    <button class="btn btn-lg text-white" style="background-image: linear-gradient(122deg, #33ccff, #4decca);border-radius: 64px">Gradient Buttons...</button>
                    <button class="btn btn-lg text-white" style="background-image: linear-gradient(122deg, #FF6666, #FFC600)">...can be rectangular.</button>
                    <button class="btn btn-primary btn-canya-gradient btn-primary my-1">Chat Button</button>
                </div> 
        </div>
        </div>
    </section>
  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Cards
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
    <section class="section bg-white my-30 py-0"  id="cards">
    <div class="container"> 
      <h2>Cards</h2> 
                <p>Cards are used to contain and convey information in a concise and easy to understand manner.</p> 
                <p>Highly customizeable, you can create your own Cards to fit your application's purpose. However, all cards must follow the CanYa typographic and color rules.</p> 
        <hr>
    </div> 
      <section class="bg-grey">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 card-columns">   
                    <ng-template ngFor let-i="index" let-pitch [ngForOf]="pitches">
                      <div *ngIf="(i === 0 || i === 1 || i % 4 !== 0)"  class="card card-hover-shadow my-15 text-left">
                        <img class="card-img-top" src="https://canyacoin.files.wordpress.com/2018/01/canya_featured-images-out-and-about.jpg" alt="CanYa25">
                        <div class="card-body">
                            <p style="font-size:12px" *ngIf="pitch && pitch.username">@{{ pitch.username }}</p>
                            <h3 class="card-title" *ngIf="pitch && pitch.title">{{ pitch.title }}</h3>
                            <p class="card-text" *ngIf="pitch && pitch.description">{{ pitch.description }}</p>
                            <a href="" class="btn btn-primary btn-canya-gradient">
                              VOTE
                            </a>
                        </div>
                      </div>
                  </ng-template>  
              </div>
              <div class="col-md-2"></div>
              </div>
      </section> 
      <section class="section bg-white py-30 px-30">
                    <h2 class="text-center">News Cards</h2>
                <p class="text-center"> These cards are used for the 'latest news' section of the website.<br>since they have borders, they may be shown on a white background.</p>
          <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                <div class="col-md-10">
                    
                    
                        <div class="container">
        <br><br>
        <div class="row gap-y  bg-white">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-bordered card-hover-shadow">
              <a href="https://blog.canya.com.au/2018/02/01/canya-partners-with-origin-protocol/" target="_blank">
                <img class="card-img-top" src="https://canyacoin.files.wordpress.com/2018/01/canya_origin_blog.png" alt="CanYa + Origin Protocol">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://blog.canya.com.au/2018/02/01/canya-partners-with-origin-protocol/" target="_blank">CanYa partners with Origin Protocol</a>
                </h4>
                <p class="card-text">CanYa is pleased to announce that we have added another awesome new tech stack partner.</p>
                <a class="fw-600 fs-12" href="https://blog.canya.com.au/2018/02/01/canya-partners-with-origin-protocol/" target="_blank">Read more <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-bordered card-hover-shadow">
              <a href="https://blog.canya.com.au/2018/01/30/active-in-the-usa/" target="_blank">
                <img class="card-img-top" src="https://canyacoin.files.wordpress.com/2018/01/canya_featured-images-out-and-about.jpg" alt="CanYa - USA">
              </a>
              <div class="card-body">
                <h4 class="card-title"><a href="https://blog.canya.com.au/2018/01/30/active-in-the-usa/" target="_blank">CanYa Team Active in the USA!</a></h4>
                <p class="card-text">CanYa has been out and about in the USA. Throughout January the CanYa team has been very active!</p>
                <a class="fw-600 fs-12" href="https://blog.canya.com.au/2018/01/30/active-in-the-usa/" target="_blank">Read more <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 hidden-md-down">
            <div class="card card-bordered card-hover-shadow">
              <a href="https://blog.canya.com.au/2018/01/22/canya-adds-two-world-class-advisors-to-our-board/" target="_blank">
                <img class="card-img-top" src="https://canyacoin.files.wordpress.com/2018/01/canya_featured-images-advisory-board1.jpg" alt="CanYa - Advisors">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://blog.canya.com.au/2018/01/22/canya-adds-two-world-class-advisors-to-our-board/" target="_blank">CanYa adds two world class advisors to our board</a>
                </h4>
                <p class="card-text">CanYa announces Power Ledger & Bluzelle board member and leading crypto legal expert as new advisors.</p>
                <a class="fw-600 fs-12" href="https://blog.canya.com.au/2018/01/22/canya-adds-two-world-class-advisors-to-our-board/" target="_blank">Read more <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
              </div>
            </div>
          </div> 
        </div>
        <br><br>
      </div>  
                    
                    </div>
              
                    <div class="col-md-1"></div>
              </div>
          </div>
        </section>
        <section>
        <h2 class="text-center">CanApp Cards</h2>
        <p class="text-center">These apps cards should be present on all CanApps to promote other CanApps.<br>These cards are generated using cancards.js. Learn more about it on its <a href="https://github.com/canyaio/CanApp-Cards">Github page</a>.</p>  
            <div class="row canAppDiv">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                        <div id="canyaCard">   
                    </div>
                </div> 
                <div class = "col-md-2"></div> 
            </div>
        </section>   
  </section>   
    <section class="section my-30 py-0" id="widgets">
    <div class="container">
            <h2>Widgets</h2>
            <p>These widgets can be used for various purposes, such as payment, special announcements, etc. <br>CanYa also use various third-party widgets to ease interoparibility between the apps in the CanYa ecosystem.</p>
            <hr>
          
    </div> 
    <div class="container">
          <h4>Bancor Widget</h4>  
            <p>This widget must be present in all CanApps.</p>
    </div> 
        <div id="bancor-wc" class="mb-60"></div> 
    <div class="container">
        <p>To put this widget, follow these steps :</p>
        <ul>
            <li>
                Add this code into your HTML;
                <pre>&lt;div id="bancor-wc"&gt;&lt;/div&gt;</pre>
            </li>
            <li>
                Insert this code at the end of your HTML file:
                <pre>
&lt;script src="https://widget-convert.bancor.network/v1"&gt;&lt;/script&gt;<br>
&lt;script&gt;
BancorConvertWidget.init&#40;&#123;
"type": "1",
"baseCurrencyId": "5a6f61ece3de16000123763a",
"pairCurrencyId": "5937d635231e97001f744267",
"primaryColor": "#00BFFF",
"primaryColorHover": "#55DAFB"
&#125;&#41;;
&lt;/script&gt;</pre>
            </li>
            <li>Some notes on the variables, and what you can do with it:
            <pre>
"primaryColor":  - change this if you would like to modify the main widget color from black
"primaryColorHover":  - change this if you would like to modify the "mouse over" effect of the buttons
"hideVolume": true - add this line if you want to hide the 24h trade volume)    
"unlockBaseCurrency": true - add this line if you want to enable your visitors to convert any token to any token on the Bancor network (default is limited to your token and token relay only)</pre>
            </li>
            <li>for React implementation check <a href="https://stackoverflow.com/questions/40983358/use-third-party-embed-code-in-a-react-component" target="_blank">this link.</a>
            </li>
        
        </ul>
        <hr>
    </div>
    <div class="container">
          <h4>Bounties Section</h4>
          <p>This section is created so that users of CanApps may donate CANs to contribute to bounties that will help enchancing the App. Do note that the section below is purely HTML/CSS, without any web3 enchancements.</p> 
        <hr>
    </div>
    <section class="row bg-white mt-15 donation-row">
          <div class="container mt-20">  
                    <div class="row">
                        <div class="col-lg-4">  
                                <p class="fw-600"><img src="assets/img/heart.svg" style="height:1.25rem; display:inline-block"><span class="mx-15" style="letter-spacing: 1.5px">LOVE THIS PROJECT?</span></p>
                                <br>
                                <p class="fw-300" style="color:#9B9B9B; font-size: 14px;">CanYa is working to create tools to help freelancers and their clients with their everyday transactions and operations.<br>If you like what we’re doing, donate funds to improve your experience here. </p>
                        </div>
                        <div class="col-lg-8 text-right"> 
                            <div class="progress mt-10"  style="width: 75%;height:0.5rem;float:right; background-color:#ECEEEF"> 
                                    <div class="progress-bar" role="progressbar" style="width: 75%; background-color:#33ccff" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <br>
                            <p class="fw-300"  style="color:#9B9B9B; font-size:14px">750 CAN contributed to <br>75% of goal reached</p>
                            <button class="btn btn-primary btn-outline">DONATE</button>
                        </div> 
                    </div> 
            </div>
      </section>  
    <section class="row pt-15 pb-15"><br>
      <div class="container">
          <h4>Gradient Promo Sections</h4>
            <p>This section is primarily used to promote CanYa's Social media or CanYa.io. You can add this section to your website if you need some more color/filler content.</p>
         </div>
    </section>    
    <section class="section shadow-1" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
      <div class="container text-center"> 
        <div class="row mt-20 align-items-center">
            <div class="col-12 text-center">
              <img src="assets/img/telegram.png" alt="CanYa - telegram" width="auto" height="100px">
              <h4 class="text-white pt-25">Got another question? Ask our active community on Telegram.</h4>
              <br>
              <a href="https://t.me/CanYaCommunity" target="_blank" class="btn btn-lg btn-primary shadow-3">
                Join us on Telegram</a>
            </div>
          </div>
      </div>
    </section>
    </section>  
    
    
    
    
    
</main>
<!-- END Main container -->