<!-- Main container -->   
<main class="main-content"> 
    <section class="section bg-white my-30 py-0"   id="introduction"> 
                <div class="container" >
    <div class="row"> 
        
    <div class="col-md-4"> 
      <h4 style="color:#33ccff">INTRODUCTION</h4>
            <p>CanStyle is a guide which acts as a bridge between designers and developers looking toward a common goal of consistent styling within the CanYa ecosystem. Inspired by Google’s Material design initiative, CanYa seeks to uphold a level of design consistency and excellency across all the CanApps.
            <br><br>Note that this styleguide is tailor-made for Angular-based apps. Styleguides for other frameworks will be coming soon.  </p>
            <h5>Download The Styleguide</h5>
            <a  href="assets/docs/CanYa-Styleguide.pdf" target="_blank">
                            <button type="submit" class="btn btn-primary btn-outline btn-sm" style="width: 6rem"  id="github-btn">PDF</button>   
            </a><a  href="assets/docs/CanYa Material Design.sketch" target="_blank">
                            <button type="submit" class="btn btn-primary btn-outline btn-sm" style="width: 6rem" id="github-btn">Sketch</button>   
            </a></div>
        <div class="col-md-8"> 
            <img src="https://canya.io/images/canya_mockups.png">
            </div> 
        </div>
    </div>
        </section>  
   
    
    
</main>
<!-- END Main container -->